body, html{ 
  background: #F3EFE0;
  color: #333;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

}

.flex{
  display: flex;
}

.f-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1200px;
  margin: auto;
}

$mainColor: #4CAF50;
header{
  padding: 10px 0px;
  .logo{
    span{
      color: $mainColor;
    }
  }
  .nav{
    a{
      padding: 10px 12px;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background: $mainColor;
        transition: 0.4s;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }
  }
}
.content{
  margin-top: 30px;
  .title{
    background: #757575;
    color: white;
    padding: 8px 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
    h1{
      font-weight: normal;
      font-size: 1.5rem;
    }
  }
}

.list-accounts{
  max-width: 100%;
  background: white;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
  grid-gap: 10px;
  .item{
    border: 1px solid $mainColor;
    box-shadow: 0 0 4px -2px #333;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.4s;
    &:hover{
      box-shadow: 0 0 20px -2px #333;
    }
    .info-account{
      margin-left: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .ttl{
        font-size: 1.5rem;
  
      }
      .date{
        color: #999;
        grid-column: 1/3;
        font-size: 0.75rem;
        letter-spacing: 2px;
      }
      .acc-bot{
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buy{
          cursor: pointer;
          padding: 5px 15px;
          background: $mainColor;
          color: white;
          border-radius: 3px;
          font-size: 17px;
          position: relative;
          transform: perspective(1px) translateZ(0);
          overflow: hidden;
          &::after{
            content: '';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%,-50%);
            background: rgba($color:#333, $alpha: 0.6);
            opacity: 0;
            border-radius: 50%;
          }
          &::before{
            content: '';
            position: absolute;
            top: 0px;
            left: -80px;
            width: 100px;
            height: 20px;
            background: rgba($color:#fff, $alpha: 0.8);
            opacity: 1;
            transform: scale(0) rotate(-45deg); transform: scale(0) rotate(-45deg); opacity: 0;
            animation: floatRight 4s infinite;
          }
          &:hover{
            &::after{
            animation: float 0.4s forwards;              
            }
          }
        }
        .stock{
          font-size: 0.9rem;
        }
      }
     
    }

  }
}

footer{
  margin-top: 50px;
  strong{
    display: block;
    text-align: center;
    font-size: 0.8rem;
    background: #333;
    color: white;
    padding: 20px;

  }
}

// animation 
@keyframes float{
  0%{
    opacity: 1;
    transform:  scale(0);
  }
  50%{
    opacity: 0.5;
    transform:  scale(4);
  }
  80%{
    opacity: 1;
    transform:  scale(8);
  }

  100%{
    opacity: 0.8;
    transform:  scale(4) ;
  }
}


@keyframes floatRight {
  0% { -webkit-transform: scale(0) rotate(-45deg); transform: scale(0) rotate(-45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(-45deg); transform: scale(0) rotate(-45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(-45deg); transform: scale(4) rotate(-45deg); opacity: 1; }
  100% { -webkit-transform: scale(30) rotate(-45deg); transform: scale(30) rotate(-45deg); opacity: 0; }
}